<div class='row'>
    <div class='col'>
        <p-table [value]="gripItems" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th style='width:5rem'>Left ({{customerSettings?.measurementType?.units}})</th>
                    <th style='width:5rem'>Right ({{customerSettings?.measurementType?.units}})</th>
                    <th style='width:5rem'>Either ({{customerSettings?.measurementType?.units}})</th>
                    <th style='width:8rem'>Both ({{customerSettings?.measurementType?.units}})</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mh>
                <tr >
                    <td>{{mh.name}}</td>
                    <td>
                        <div class='d-flex'>
                            <jobs-grip-input-box
                            [gripItem]="mh.id"
                            [editMode]="false"
                            [units]="customerSettings?.measurementType?.units"
                            [sideId]="3">
                            </jobs-grip-input-box>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <jobs-grip-input-box
                            [gripItem]="mh.id"
                            [editMode]="false"
                            [units]="customerSettings?.measurementType?.units"
                            [sideId]="4">
                            </jobs-grip-input-box>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <jobs-grip-input-box
                            [gripItem]="mh.id"
                            [editMode]="false"
                            [units]="customerSettings?.measurementType?.units"
                            [sideId]="7">
                            </jobs-grip-input-box>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <jobs-grip-input-box
                            [units]="customerSettings?.measurementType?.units"
                            [gripItem]="mh.id"
                            [editMode]="false"
                            [sideId]="6">
                            </jobs-grip-input-box>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>