:host ::ng-deep .p-button {
    color: #ffffff;
    background: #20BCD3;
    border: 1px solid #20BCD3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.center {
    text-align: center !important;
  }