<div class='row'>
    <div class='col'>
        <span class="mr-3">Dominance </span>
        <p-dropdown optionLabel="name" optionValue="code" class='p-25' (onChange)="onDominanceChange($event)" [options]='dominance' [(ngModel)]="dominantGripResult.gripSideId" [disabled]="!editMode"></p-dropdown>
    </div>
</div>
<div class='row'>
    <div class='col'>
        <p-table [value]="gripItems" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th style='width:5rem'>Tested</th>
                    <th style='width:5rem'>Value ({{customerSettings?.measurementType?.units}})</th>
                    <th style='width:5rem'>% Norm</th>
                    <th style='width:5rem'>Tested</th>
                    <th style='width:5rem'>Value ({{customerSettings?.measurementType?.units}})</th>
                    <th style='width:5rem'>% Norm</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mh let-ri="rowIndex">
                <tr >
                    <td style="width:200px">{{mh.name}}</td>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="gripResultsLeft[ri].isTested" 
                            (onChange)="onActiveChange($event, mh.id, 3)" 
                            [binary]="true" 
                            [disabled]="!(dominantGripResult.gripSideId != 5 && editMode)">
                        </p-checkbox>
                        Left
                    </td>
                    <td>
                        <div class='d-flex'>
                            <p-inputNumber 
                                [(ngModel)]="gripResultsLeft[ri].value" 
                                class='input-table' 
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1" 
                                [disabled]="!editMode || !gripResultsLeft[ri].isTested"
                                (onInput)="onInputChange($event, gripResultsLeft[ri].gripSideId, gripResultsLeft[ri].gripItemId, ri)">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <span class='ml-2 mt-2 calcMaterial'>{{percentNormLeft[ri]}}</span>
                        </div>
                    </td>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="gripResultsRight[ri].isTested" 
                            (onChange)="onActiveChange($event, mh.id, 4)" 
                            [binary]="true" 
                            [disabled]="!(dominantGripResult.gripSideId != 5 && editMode)">
                        </p-checkbox>
                        Right
                    </td>
                    <td>
                        <div class='d-flex'>
                            <p-inputNumber 
                                [(ngModel)]="gripResultsRight[ri].value" 
                                class='input-table' 
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1" 
                                [disabled]="!editMode || !gripResultsRight[ri].isTested"
                                (onInput)="onInputChange($event, gripResultsRight[ri].gripSideId, gripResultsRight[ri].gripItemId, ri)">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <span class='ml-2 mt-2 calcMaterial'>{{percentNormRight[ri]}}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>