<div class='row'>
    <div class='col'>
        <p-table [value]="materialHandlingGroups" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Tested</th>
                    <th style='width:5rem'>Occasional <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th style='width:5rem'>Frequent <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th style='width:5rem'>Continuous  <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th style='width:7rem'>Awkward load</th>
                    <th style='width:7rem'>Forceful Push</th>
                    <th style='width:7rem'>Forceful Pull</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mh let-ri="rowIndex">
                <tr>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].isActive" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            [binary]="true"
                            inputId="true" 
                            [disabled]="true" >
                        </p-checkbox>
                        {{mh.name}}
                    </td>
                    <td>
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="occasionalMaterialHandlingList[ri].value"
                                [disabled]="true" >
                            </p-inputNumber>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="frequentMaterialHandlingList[ri].value"
                                [disabled]="true" >
                            </p-inputNumber>
                        </div>
                    </td>
                    <td>
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="continuousMaterialHandlingList[ri].value"
                                [disabled]="true" >
                            </p-inputNumber>
                        </div>
                    </td>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].awkwardLoad" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="true" >
                        </p-checkbox>
                    </td>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].forceFullPush" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="true" >
                        </p-checkbox>
                    </td>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].forceFullPull" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="true" >
                        </p-checkbox>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>