
<div class="main">
    <div class="w-100">
        <div class="heading mr-auto ml-4">{{selectedWorkers?.firstName ? selectedWorkers?.firstName + ' ' + selectedWorkers?.lastName : ''}}</div>
        <div class='d-flex'>
            <div class='edit ml-4 mt-4'><p-button [label]="selectedWorkers ? 'Change Worker': 'Select Worker'" (onClick)="openWorkerList()"></p-button></div>
            <div class='w-100'></div>
            <div class='edit ml-4 mt-4' *ngIf='selectedWorkers'><p-button label="Perform JobFit" (onClick)="performJobFit()"></p-button></div>
        </div>
    </div>
    <div class="padding" *ngIf='selectedWorkers'>
        <span class=' heading-sub'>Employment List</span><br>
        <hr  /> <br>
        <div>
            <div class="row">
                <div class="col-5 d-flex">
                    <span class="p-float-label ml-3 w-100">
                        <p-dropdown [options]="empGroupOptions" [group]="true" class="job-score" [(ngModel)]="jobId" optionLabel="label" optionValue="jobId" (onChange)="setEmployment($event)" placeholder="Please select Employment"></p-dropdown>
                    </span>
                </div>
                <div class="col-5 d-flex">
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [header]="selectedWorkers ? 'Change Worker': 'Select Worker'" [(visible)]="selectWorker" [modal]="true">
<div class="worker-modal">
    <div class="mt-5 filter d-flex w-100">
        <p-dropdown  optionLabel="name" optionValue="code" [options]="field" [(ngModel)]="quickSearch.field" [placeholder]="'WORKERSLIST.NAMEDROPDOWN' | translate" class='name'></p-dropdown>
        <p-dropdown  optionLabel="name" optionValue="code" [options]="type" [(ngModel)]="quickSearch.type" [placeholder]="'WORKERSLIST.CONTAINSDROPDOWN' | translate" class='contains'></p-dropdown>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" class='search-bar' (keyup.enter)="getWorkers(1,10)"  [(ngModel)]="quickSearch.value" pInputText [placeholder]="'WORKERSLIST.SEARCHBAR' | translate"  />
        </span>
        <div class='f-r w-50'>
            <span class="mt-title f-r">{{'WORKERSLIST.ADVANCESEARCHTITLE' | translate}}</span> 
            <label class="switch toggle f-r">
                <input type="checkbox" [checked]='advancedSearch' (click)='advancedSearchToggle()'>
                <span class="slider round"></span>
            </label>
        </div>
        
    </div>
    <div class='advanced-search' *ngIf='advancedSearch'>
        <p-tabView>
            <p-tabPanel [header]="'WORKERSLIST.DETAILSHEADER' | translate">
                <p-message severity="info" [text]="'WORKERSLIST.DETAILSMESSAGE' | translate" styleClass="p-mr-2"></p-message>
                <div class='d-flex mt-4'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHEMPLOYEEIDLABEL' | translate}}</label>
                    <input type="text" class='worker-search' pInputText [(ngModel)]="workerDetailsSearch.employeeId" />
                </div>
                <div class='d-flex mt-2'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHFIRSTNAMELABEL' | translate}}</label>
                    <input type="text" class='worker-search' pInputText [(ngModel)]="workerDetailsSearch.firstName" />
                </div>
                <div class='d-flex mt-2'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHLASTNAMELABEL' | translate}}</label>
                    <input type="text" class='worker-search' pInputText [(ngModel)]="workerDetailsSearch.lastName" />
                </div>
                <div class='d-flex mt-2'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHGENDERLABEL' | translate}}</label>
                    <p-dropdown optionLabel="name" optionValue="code" [options]="genders" [(ngModel)]="gender" (onChange)="setGenderSearchField($event)"  class='ml-2'></p-dropdown>
                </div>
                <div class='d-flex mt-2'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHAGELABEL' | translate}}</label>
                    <input type="number" class='mr-2 ml-2' pInputText [(ngModel)]="workerDetailsSearch.ageFrom" />
                    <label>{{'WORKERSLIST.ANDLABEL' | translate}}</label>
                    <input type="number" class='ml-2' pInputText [(ngModel)]="workerDetailsSearch.ageTo" />
                </div>
                <div class='d-flex mt-2'>
                    <label class="advanced-search-label">{{'WORKERSLIST.SEARCHDATEOFBIRTHLABEL' | translate}} <span class="sample-dob">e.g. 01-Jul-2000</span></label>
                    <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='mr-2 ml-2' [(ngModel)]="workerDetailsSearch.dobFrom" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"></p-calendar>
                    <label>{{'WORKERSLIST.ANDLABEL' | translate}}</label>
                    <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='ml-2'  [(ngModel)]="workerDetailsSearch.dobTo" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"></p-calendar>
                </div>
                <div class='d-flex float-r mt-2'>
                    <div class='w-100'></div>
                    <div class='clear mt-1 mr-2'><p-button [label]="'WORKERSLIST.CLEARBUTTONLABEL' | translate" (onClick)="clearAdvancedWorkerSearch()"></p-button></div>
                    <div class='search-btn-2 mt-1'><p-button [label]="'WORKERSLIST.APPLYSEARCHBUTTONLABEL' | translate" (onClick)="onAdvanceSearchClick()"></p-button></div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="'WORKERSLIST.FLAGSHEADER' | translate">
                <div class='d-flex mt-3 mb-3'>
                    <label>{{'WORKERSLIST.SEARCHOPTIONSLABEL' | translate}}</label>
                    <p-dropdown  optionLabel="name" optionValue="id" [options]="searchOptions" [(ngModel)]="selectedSearchFlagOption" placeholder="No filter selected" class='flag-search'></p-dropdown>
                </div>
                <p-tree *ngIf="selectedSearchFlagOption > 0" [value]='flagTree' selectionMode="checkbox" [(selection)]="selectedFlags"></p-tree>
                <div class='d-flex float-r mt-2'>
                    <div class='w-100'></div>
                    <div class='clear mt-1 mr-2'><p-button [label]="'WORKERSLIST.CLEARBUTTONLABEL' | translate" (onClick)="clearAdvancedWorkerSearch()" ></p-button></div>
                    <div class='search-btn-2 mt-1'><p-button [label]="'WORKERSLIST.APPLYSEARCHBUTTONLABEL' | translate" (onClick)="onAdvanceSearchClick()"></p-button></div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="'WORKERSLIST.GROUPSHEADER' | translate">
                <div class='d-flex mt-3 mb-3'>
                    <label>{{'WORKERSLIST.SEARCHOPTIONSLABEL' | translate}}</label>
                    <p-dropdown  [options]="searchOptions" [(ngModel)]="selectedSearchGroupOption" optionLabel="name" optionValue="id" placeholder="No filter selected" class='flag-search'></p-dropdown>
                </div>
                <p-tree *ngIf="selectedSearchGroupOption > 0" [value]="groupTree" selectionMode="checkbox" [(selection)]="selectedGroups"></p-tree>
                <div class='d-flex float-r mt-2'>
                    <div class='w-100'></div>
                    <div class='clear mt-1 mr-2'><p-button [label]="'WORKERSLIST.CLEARBUTTONLABEL' | translate" (onClick)="clearAdvancedWorkerSearch()"></p-button></div>
                    <div class='search-btn-2 mt-1'><p-button [label]="'WORKERSLIST.APPLYSEARCHBUTTONLABEL' | translate" (onClick)="onAdvanceSearchClick()"></p-button></div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="'WORKERSLIST.EMPLOYMENTHEADER' | translate">
                <p-accordion>
                    <p-accordionTab header="Sites & Departments">
                        <p-message severity="info" [text]="'WORKERSLIST.SITESMESSAGEBOARD' | translate" styleClass="p-mr-2"></p-message>
                        <p-tree [value]='allDeptTree' selectionMode="checkbox" [(selection)]="selectedSites"></p-tree>
                    </p-accordionTab>
                    <p-accordionTab header="Details">
                        <div class='d-flex mt-2'>
                            <label class="employment-label">{{'WORKERSLIST.EMPLOYMENTTYPELABEL' | translate}}</label>
                            <p-dropdown class='p-25' [options]='employmentType' [(ngModel)]="empType" optionLabel="label" optionValue="id"></p-dropdown>
                        </div>
                        <div class='d-flex mt-2'>
                            <label class="employment-label">{{'WORKERSLIST.EMPLOYMENTDATELABEL' | translate}} <span class="sample-dob">e.g. 01-Jul-2000</span></label>
                            <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='mr-2' [(ngModel)]="employmentFrom" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"  [showIcon]="true"></p-calendar>
                            <label>{{'WORKERSLIST.ANDLABEL' | translate}}</label>
                            <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='ml-2'  [(ngModel)]="employmentTo" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"  [showIcon]="true"></p-calendar>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="Flags">
                        <div class='d-flex mb-3'>
                            <label>{{'WORKERSLIST.SEARCHOPTIONSLABEL' | translate}}</label>
                            <p-dropdown  optionLabel="name" optionValue="id" [options]="searchOptions" [(ngModel)]="selectedSearchEmploymentFlagOption" placeholder="No filter selected" class='flag-search'></p-dropdown>
                        </div>
                        <p-tree *ngIf="selectedSearchEmploymentFlagOption > 0" [value]='employmentFlagTree' selectionMode="checkbox" [(selection)]="selectedEmploymentFlags"></p-tree>
                    </p-accordionTab>
                </p-accordion>
                <div class='d-flex float-r mt-2'>
                    <div class='w-100'></div>
                    <div class='clear mt-1 mr-2'><p-button [label]="'WORKERSLIST.CLEARBUTTONLABEL' | translate" (onClick)="clearAdvancedWorkerSearch()" ></p-button></div>
                    <div class='search-btn-2 mt-1'><p-button [label]="'WORKERSLIST.APPLYSEARCHBUTTONLABEL' | translate" (onClick)="onAdvanceSearchClick()"></p-button></div>
                </div>
            </p-tabPanel>
            <p-tabPanel [header]="'WORKERSLIST.FUNCTIONALANALYSIS' | translate">
                <span class='filter-title'>{{'WORKERSLIST.ASSESSMENTDATESLABEL' | translate}}</span>
                <div class='d-flex mt-2'>
                    <label class="falabel">{{'WORKERSLIST.BETWEENLABEL' | translate}} <span class="sample-dob">e.g. 01-Jul-2000</span></label>
                    <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='mr-2 ml-2' [(ngModel)]="faSearch.from" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"  [showIcon]="true"></p-calendar>
                    <label class="mt-2">{{'WORKERSLIST.ANDLABEL' | translate}}</label>
                    <p-calendar placeholder="DD-MMM-YYYY" dateFormat="dd-M-yy" class='ml-2' [(ngModel)]="faSearch.to" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030"  [showIcon]="true"></p-calendar>
                </div>
                <div class='d-flex mt-3 mb-custom'>
                    <label class="falabel">{{'WORKERSLIST.ASSESSEDBYLABEL' | translate}}</label>
                    <p-multiSelect [options]="providers" [(ngModel)]="faSearch.providers"  selectedItemsLabel="{0} items selected" optionLabel="fullName" class='fa-multi mr-2 ml-2'></p-multiSelect>
                </div>
                <div class='d-flex mt-3 mb-custom'>
                    <label class="falabel">{{'WORKERSLIST.EVENTLABEL' | translate}}</label>
                    <p-multiSelect [options]="events" [(ngModel)]="faSearch.events"  selectedItemsLabel="{0} items selected" optionLabel="name" class='fa-multi mr-2 ml-2'></p-multiSelect>
                </div>
                <span class='filter-title mt-2'>{{'WORKERSLIST.FUNCTIONALLABEL' | translate}}</span>
                <div class='d-flex mt-3 mb-3'>
                    <label class="falabel">{{'WORKERSLIST.SEARCHOPTIONSLABEL' | translate}}</label>
                    <p-dropdown  optionLabel="name" optionValue="id" placeholder="No Applied Filter" [options]="searchOptions" class='flag-search mr-2' [(ngModel)]="faSearch.flagsOption"></p-dropdown>
                </div>
                <p-tree *ngIf="faSearch.flagsOption > 0" [value]="FAFlagTree" selectionMode="checkbox" [(selection)]="selectedFAFlags"></p-tree>
                <div class='d-flex float-r mt-2'>
                    <div class='w-100'></div>
                    <div class='clear mt-1 mr-2'><p-button [label]="'WORKERSLIST.CLEARBUTTONLABEL' | translate" (onClick)="clearAdvancedWorkerSearch()"></p-button></div>
                    <div class='search-btn-2 mt-1'><p-button [label]="'WORKERSLIST.APPLYSEARCHBUTTONLABEL' | translate" (onClick)="onAdvanceSearchClick()"></p-button></div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="mt-3 filter d-flex">
        <div class='refresh'><p-button [label]="'WORKERSLIST.REFRESHBUTTONLABEL' | translate" (onClick)="getWorkers(1,10)"></p-button></div>
        <div class='w-100'></div>
    </div>
    <div class="mt-2" *ngIf="filtersResult.length > 0 && advancedSearch == false">
        <p-message severity="info" [text]="filters" styleClass="p-mr-2"></p-message>
    </div>
    <div class='mt-3' style='padding-bottom:10px;' *ngIf="workersResult">
        <p-table #dt [first]="first"  [rows]="5" 
        [selectionMode]="'single'"
        scrollHeight="350px"
         [value]='workers' responsiveLayout="scroll"
        [rowHover]="true" dataKey="workerId"
        [(selection)]="selectedWorkers"
         [showCurrentPageReport]="false">
       <ng-template pTemplate="header">
           <tr>
               <th></th>
                <th style="width: 2.5rem"></th>
                <th  pSortableColumn="employeeID">{{'WORKERSLIST.EMPLOYEEIDHEADER' | translate}} </th>
                <th  pSortableColumn="lastName">{{'WORKERSLIST.LASTNAMEHEADER' | translate}} </th>
                <th  pSortableColumn="firstName">{{'WORKERSLIST.FIRSTNAMEHEADER' | translate}} </th>
                <th style="width: 10rem;">{{'WORKERSLIST.FLAGHEADER' | translate}}</th>
                <th style="width: 10rem;">{{'WORKERSLIST.GROUPSHEADER' | translate}}</th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-worker let-expanded="expanded">
           <tr >
            <td>
                <p-tableRadioButton [value]="worker"></p-tableRadioButton>
            </td>
                <td>
                    <button  *ngIf="worker.groupsString !='' || worker.flagsString != ''" type="button" pButton pRipple [pRowToggler]="worker" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
    
               <td  >{{worker.employeeID}}</td>
               <td >{{worker.lastName}}</td>
               <td  >{{worker.firstName}}</td>
               <td><i class="pi pi-flag" *ngIf='worker.flagsString != ""' [title]="worker.flagsString"></i></td>
               <td><i class="pi pi-clone" *ngIf='worker.groupsString != ""' [title]="worker.groupsString"></i></td>
           </tr>
       </ng-template>
       <ng-template pTemplate="rowexpansion" let-worker>
            <tr>
                <td colspan="10">
                    <div class="p-p-3">
                        <div class='row'>
                                <div>
                                    <span class='expand-title' *ngIf='worker.groups.length > 0'>Groups:</span> 
                                    <span> {{worker.groupsString}}</span>
                                    <br>
                                    <span class='expand-title' *ngIf='worker.flags.length > 0'>Flags:</span>
                                    <span> {{worker.flagsString}}</span>
                                </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
       </p-table>
       <p-paginator [rows]="10" [totalRecords]="totalCount" (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
    <!--WORKER LIST-->
    <div class='buttons-footer d-flex mt-5'>
            <div class='cancel'><p-button label="Cancel" (onClick)="selectWorker = false"></p-button></div>
            <div class='w-100'></div>
            <div class='submit d-flex flex-row-reverse'><p-button label="Submit" (onClick)="selectWorkerBtn()" ></p-button></div>
        </div>
</div>
<!--WORKER LIST-->
<div class="overlay w-100" *ngIf="!workerLoaded" >
    <div class='loader'>
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

</p-dialog>
<p-dialog header="Validation" [(visible)]="displayError" [style]="{width: '450px'}" [modal]="true">
    <p>{{errorMessage}}</p>
    <ng-template pTemplate="footer">
        <div class='buttons-footer d-flex mt-5'>
            <div class='cancel-job ml-2'></div>
            <div class='w-100'></div>
            <div class='submit-job'><p-button label="OK" (onClick)="displayError = false"></p-button></div>
        </div>
    </ng-template>
</p-dialog>
<div class="overlay w-100" *ngIf="!isLoaded || !workerLoaded" >
    <div class='loader'>
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>