
:host ::ng-deep  .input-table .p-inputnumber-input  {
    width: 80px;
}

:host ::ng-deep  .calcMaterial  {
    width: 154px;
    border: 1px solid #ced4da;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ecf0f1;
}

:host ::ng-deep  .kg  {
    margin-top: 15px;
    margin-left: 8px;
}



@media screen and (max-width: 1600px){
    ::ng-deep .p-inputnumber-input {
        width: 100px;
    }
    :host ::ng-deep  .calcMaterial  {
        width: 100px;
        border: 1px solid #ced4da;
        padding: 0.5rem 0.5rem;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #ecf0f1;
    }
}