@media screen and (max-width: 1300px) {
  .rem-15{
    width:18rem;
}
}
@media screen and (min-width: 1300px) {
  .rem-15{
    width:40rem;
}
}
a:hover {
  color: #0d6efd;
  text-decoration: underline;
}
.f-r{
  float:right;
}
.jobslabel, .falabel {
  width: 150px;
}
.batchstartend {
  width: 200px;
}
:host ::ng-deep .disabled-btn .p-button {
  height:40px;
  background-color: #E3E6EA;
  color: gray;
  border: unset;
  width: 120px;
  font-size: 1rem;
}
:host ::ng-deep .disable-print .p-button {
  color: gray;
  border: solid;
  width: 150px;
  font-size: 1rem;
  background: #E3E6EA;
  border-color: #222e50;
  border-width: thin;
  height: 40px;
}
:host ::ng-deep .disabled {
  background-color: #E3E6EA;
  color: gray;
  border: unset;
}
.table-expand-column {
  width: 3rem !important;
}
.table-checkbox-column {
  width: 3rem !important;
  padding-left: 15px !important;
  text-align: center !important;
}
.table-icon-column {
  width: 5rem !important;
  text-align: center !important;
}
.table-name-column {
  width: 80% !important;
  padding-left: 15px !important;
  text-align: left !important;
}
:host ::ng-deep .batch-message .p-message.p-message-info {
  font-weight: bold;
  border: none !important;
  background:#cccccc5c !important;
}
.bold{
  font-weight: bold;
}
:host ::ng-deep .batch-message .p-message .p-message-wrapper {
  padding: 8px !important;
}
.disabled-message{
  color: #8e9eae !important;
}
.heading{
    font-family: "BentonSans-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #20BCD3;
}
:host ::ng-deep .sample-dob {
  font-size:12px;
  color: gray;
}
:host ::ng-deep .new-copy-modal{
  width: 730px;
}
:host ::ng-deep .copy-multi {
  width: 520px;
}
.copyLabel {
  width: 100px;
}
.copy-heading{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.line {
  height: 2px;
  background-color: #20BCD3;
  margin-bottom: 1%;
  margin-top: 1%;
}
:host ::ng-deep .generate .p-button {
  color: #ffffff;
  border: solid;
  width: 170px;
  font-size: 1rem;
  background: #4bd9ee;
  border-color: #222e50;
  border-width: thin;
  height: 40px;
}
:host ::ng-deep .job-list .p-dropdown {
  width: 100%;
  height:40px;
  border: 1px solid #20BCD3;
  margin-top:3px;
}
.loader {
  margin-left:50%;
  margin-top:15%;
  z-index: 9999;
}
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}
:host ::ng-deep .cancel .p-button,  :host ::ng-deep .clear .p-button{ 
  color: #20BCD3;
  border: solid;
  font-size: 1rem;
  margin-right:2px;
  background: white;
  border-width: thin;
  height: 40px;
}
:host ::ng-deep .submit .p-button {
  width: 140px;
  background: #20BCD3;
  color:white;
  border-color: #20BCD3;
  border-radius: 4px;
  font-size: 1rem;
  height: 40px;
}
:host ::ng-deep .p-inline-message {
  justify-content: start;
}
:host ::ng-deep .p-calendar-w-btn .p-datepicker-trigger
{
    background: none !important;
    border-color: lightgray;
    height: 40px;
}
@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #489FB5;
  }
  66% {
      stroke: #82C0CC;
  }
  80%,
  90% {
      stroke: #FFA62B;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}
:host ::ng-deep .print .p-button {
  color: #ffffff;
  border: solid;
  width: 150px;
  font-size: 1rem;
  background: #4bd9ee;
  border-color: #222e50;
  border-width: thin;
  height: 40px;
}
:host ::ng-deep .new .p-button {
  color: #ffffff;
  border: unset;
  width: 150px;
  font-size: 1rem;
  background: #20BCD3;
}


:host ::ng-deep .name .p-component{
    width:162px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-right:10px;
}
:host ::ng-deep .contains .p-component{
    width:162px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-right:10px;
}
:host ::ng-deep .flag-search .p-component{
  width:220px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  margin-left:10px;
}
:host ::ng-deep .p-multiselect-label-container {
  width: 200px;
  height: 40px;
}
:host ::ng-deep .search-bar-advanced{
    width:100%;
    height:46px;
    border-radius: 4px;
    margin-right:10px;
    border: 1px solid #ced4da;
}
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider-disable {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E3E6EA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before, .slider-disable:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #20BCD3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #20BCD3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
 /* Rounded sliders */
  .slider.round, .slider-disable.round {
    border-radius: 34px;
  }

  .slider.round:before, .slider-disable.round:before {
    border-radius: 50%;
  }

  .toggle{
      margin-top:12px;
      margin-right:5px;
  }


  :host ::ng-deep .p-checkbox-disabled {
    cursor: not-allowed;
    pointer-events: none;
    display: none;
}
:host ::ng-deep .new-task .p-button {
    color: #ffffff;
    border: unset;
    width: 120px;
    font-size: 1rem;
    background: #20BCD3;
}
:host ::ng-deep .actionbtn .p-button {
  width: 150px;
}
:host ::ng-deep .filter-buttons .p-button {
    color: #ffffff;
    border: unset;
    width: 93px;
    font-size: 1rem;
    margin-right:2px;
    background: #20BCD3;
}

:host ::ng-deep .search-btn .p-button {
  color: #ffffff;
  border: unset;
  width: 93px;
  font-size: 1rem;
  margin-right:2px;
  background: #20BCD3;
}
:host ::ng-deep .search-btn-2 .p-button {
  color: #ffffff;
  border: unset;
  width: 150px;
  font-size: 1rem;
  margin-right:2px;
  background: #20BCD3;
  height: 40px;
}
:host ::ng-deep .refresh .p-button {
  color: #ffffff;
  border: unset;
  width: 93px;
  font-size: 1rem;
  background: #20BCD3;
}

:host ::ng-deep .view-all .p-component{
    width:162px;
    height:45px;
    border-radius: 4px;
    margin-right:10px;
    border: 1px solid #ced4da;
}
:host ::ng-deep .results-filter .p-component{
    width:135px;
    height:45px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}
:host ::ng-deep .p-inputtext{
    font-family: "Inter-Regular";
    font-weight: 500;
    font-size: 100%;
    height: 40px;
}

.advanced-search{
    background: #FFFFFF;
    border-radius: 8px;
    margin-top:10px;
}
:host ::ng-deep .p-tabview .p-tabview-nav li {
    margin-right: 0;
    width: 16.66%;
}

:host ::ng-deep .p-tabview p { line-height: 1.5; margin: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #202020;
  color: #202020;
}
:host ::ng-deep .p-inline-message.p-inline-message-info {
  background: #cccccc5c;
  width:100%

}
.example {
  text-decoration: underline;
}
.flag-title{
  height: 44px;  
  margin-top:5px;
  background: #F5F7F9;
  padding:10px;
}
.flag-text{
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(24, 24, 25, 0.7);
  padding:5px;
}
.new-task-modal{
  width:600px;
}
.case-label{
  margin-top: 10px !important;
}
.filter-title{
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: rgba(24, 24, 25, 0.9);
  margin-top:10px;
}
label {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  /* identical to box height, or 20px */
  letter-spacing: -0.5px;
  /* On Surface / Dark / High-emphasis */
  color: rgba(24, 24, 25, 0.9);
  margin-top:5px;

}
:host ::ng-deep .flag-search .p-calendar {
  width:190px;
  height:40px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  margin-left:10px;
}

.mb-custom{
  margin-bottom:10px;
}
.mt-title{
  margin-top:10px;
}
.expansion {
  width:100%;
  height:250px;
  background-color: white;
}
.expand-title{
  color:#222E50;
  font-weight: bold !important;
}
:host ::ng-deep .cancel-task .p-button {
  width: 140px;
  height: 40px;
  color:white;
  background: #222E50 ;
  border-radius: 4px;
  }
  :host ::ng-deep .submit-task .p-button {
  width: 140px;
  height: 40px;
  background: #20BCD3;
  color:white;
  border-color: #20BCD3;
  border-radius: 4px;
  }
  :host ::ng-deep .edit .p-button {
    color: #20BCD3;
    border: unset;
    font-size: 1rem;
    background: #4bd9ee42;
}
.loader-adv, .modal-loader {
  margin-left:45%;
  margin-top:15%;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
:host ::ng-deep .p-accordion-tab:not(.p-accordion-tab-active) .p-toggleable-content {
  height: 0;
  overflow: hidden;
}
:host ::ng-deep .p-accordion-tab.p-accordion-tab-active .p-toggleable-content {
  height: auto !important;
  overflow: auto !important;
}
:host ::ng-deep .p-datatable-scrollable .p-datatable-tbody>tr>td, .p-datatable-scrollable .p-datatable-tfoot>tr>td, .p-datatable-scrollable .p-datatable-thead>tr>th {
   display: unset !important; 
   flex: unset !important; 
   align-items: unset !important; 
}
.fixed-header {
  display: unset !important; 
  flex: unset !important; 
  align-items: unset !important; 
}
.saved {
  font-weight: bolder;
  font-size: larger;
}
.w-3{
  width:3rem;
}
.w-3-5{
  width:3.5rem;
}
::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  height: 0 !important;
}
::ng-deep .p-button.p-button-icon-only {
  padding: 11px !important;
}
::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  height: 1.357rem !important;
}
.center {
  text-align: center !important;
}