<div class='row'>
    <div class='col'>
        <p-table [value]="materialHandlingGroups" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th >Tested</th>
                    <th class="center" style='width:5rem'>Occasional <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th class="center" style='width:5rem'>Frequent <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th class="center" style='width:5rem'>Continuous  <span class='ml-2 mt-2'>({{customerSettings?.measurementType?.units}})</span></th>
                    <th class="center" style='width:7rem'>Awkward load</th>
                    <th class="center" style='width:7rem'>Forceful Push</th>
                    <th class="center" style='width:7rem'>Forceful Pull</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mh let-ri="rowIndex">
                <tr>
                    <td>
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].isActive" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            (onChange)="onActiveChange($event, ri)" 
                            [binary]="true"
                            inputId="true" 
                            [disabled]="!editMode">
                        </p-checkbox>
                        {{mh.name}}
                    </td>
                    <td class="center">
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="occasionalMaterialHandlingList[ri].value"
                                [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" 
                                (onInput)="onInputChange($event, ri, 1, mh.id)">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td class="center">
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="frequentMaterialHandlingList[ri].value"
                                [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" 
                                (onInput)="onInputChange($event, ri, 2, mh.id)">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td class="center">
                        <div class='d-flex'>
                            <p-inputNumber 
                                name="mhTextbox" ngDefaultControl
                                mode="decimal" 
                                [minFractionDigits]="1" 
                                [maxFractionDigits]="1"  
                                [inputId]="mh.id.toString()"
                                [(ngModel)]="continuousMaterialHandlingList[ri].value"
                                [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" 
                                (onInput)="onInputChange($event, ri, 3, mh.id)">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td class="center">
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].awkwardLoad" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            (onChange)="updateMaterialCheckboxes($event, 'awkwardLoad', ri)" 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" >
                        </p-checkbox>
                    </td>
                    <td class="center">
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].forceFullPush" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            (onChange)="updateMaterialCheckboxes($event, 'forceFullPush', ri)" 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" >
                        </p-checkbox>
                    </td>
                    <td class="center">
                        <p-checkbox 
                            [(ngModel)]="mainMaterialHandlingList[ri].forceFullPull" 
                            name="mhCheckbox" 
                            ngDefaultControl 
                            (onChange)="updateMaterialCheckboxes($event, 'forceFullPull', ri)" 
                            [binary]="true" 
                            inputId="true" 
                            [disabled]="!editMode || !mainMaterialHandlingList[ri].isActive" >
                        </p-checkbox>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>